flows.json
[
    {
        "id": "781375c9aed44e85",
        "type": "tab",
        "label": "Registration API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo-in.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "demo/sie/clientstate/connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/sie/clientstate/closed",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/sie/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo-in.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-in.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "cb978cdcbb341010",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fde17ba4e8f07cec",
        "type": "gauth",
        "name": "node-red@fluted-sentry-260301.iam.gserviceaccount.com"
    },
    {
        "id": "a4089a2e.e45d68",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "26f4d1165fd20bba",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "80bef3743ca28f1f",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "81fc7724bb1fd349",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "d328eaed2d818008",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "api.ipify.org",
        "verifyservercert": false
    },
    {
        "id": "2f351a87b59f115a",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": false
    },
    {
        "id": "e4eabf1d7cbac13c",
        "type": "gauth"
    },
    {
        "id": "7ff7b2e0594f946c",
        "type": "gauth"
    },
    {
        "id": "86a017a36036cd51",
        "type": "gauth"
    },
    {
        "id": "ca6ef322ad7c2325",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38f957767413f424",
        "type": "ui_group",
        "name": "Latency",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "85ffacbf904db61d",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "3b9b4975b762caaf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo.mqtttest.com",
        "port": "8883",
        "tls": "353bb6547d30ac52",
        "clientid": "otademo",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b039f0e61c731c39",
        "type": "ui_group",
        "name": "Client State Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "353bb6547d30ac52",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "7c2b4036fb692de4",
        "type": "gauth",
        "name": "hay-ocr@hay-ocr.iam.gserviceaccount.com"
    },
    {
        "id": "02d8fbe38790357d",
        "type": "ui_group",
        "name": "Client State Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "13706161fd4d8ae4",
        "type": "ui_group",
        "name": "Worldmap",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "104acade48ce44f9",
        "type": "ui_group",
        "name": "Workshop",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d88e55960b8604dd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a26078bd533086a",
        "type": "ui_group",
        "name": "Workshop User ID Request",
        "tab": "d88e55960b8604dd",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "45752f305b7390c2",
        "type": "ui_spacer",
        "z": "781375c9aed44e85",
        "name": "spacer",
        "group": "4a26078bd533086a",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "2979cf37ef6acb33",
        "type": "ui_spacer",
        "z": "781375c9aed44e85",
        "name": "spacer",
        "group": "4a26078bd533086a",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "6bb68ec671006e63",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "b7421a38956c432b",
        "type": "change",
        "z": "781375c9aed44e85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers['Content-Type']",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.restricted",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "8f0ce75d38cdc6cb"
            ]
        ]
    },
    {
        "id": "8f42ac4d8f71be95",
        "type": "ui_form",
        "z": "781375c9aed44e85",
        "name": "",
        "label": "",
        "group": "4a26078bd533086a",
        "order": 1,
        "width": 10,
        "height": 2,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "email": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 20,
        "wires": [
            [
                "b7421a38956c432b",
                "7fe603a961da8981"
            ]
        ]
    },
    {
        "id": "c1279800a41edf9f",
        "type": "ui_text",
        "z": "781375c9aed44e85",
        "group": "4a26078bd533086a",
        "order": 3,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Result:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "1f0a63740c28ed24",
        "type": "switch",
        "z": "781375c9aed44e85",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "ef7765f7537cf9f7"
            ],
            [
                "0608128cae90113b"
            ],
            [
                "0608128cae90113b"
            ]
        ]
    },
    {
        "id": "ef7765f7537cf9f7",
        "type": "template",
        "z": "781375c9aed44e85",
        "name": "Success Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Success! Check your email for a verification link.",
        "output": "str",
        "x": 820,
        "y": 60,
        "wires": [
            [
                "c1279800a41edf9f"
            ]
        ]
    },
    {
        "id": "0608128cae90113b",
        "type": "template",
        "z": "781375c9aed44e85",
        "name": "Failure Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Error- Please check that the username is unique and the email is valid. ",
        "output": "str",
        "x": 820,
        "y": 100,
        "wires": [
            [
                "c1279800a41edf9f"
            ]
        ]
    },
    {
        "id": "7fe603a961da8981",
        "type": "template",
        "z": "781375c9aed44e85",
        "name": "Clear Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Waiting...",
        "output": "str",
        "x": 810,
        "y": 20,
        "wires": [
            [
                "c1279800a41edf9f"
            ]
        ]
    },
    {
        "id": "8f0ce75d38cdc6cb",
        "type": "Load Balance",
        "z": "781375c9aed44e85",
        "defaultcapacity": 100,
        "dynamic": "6bb68ec671006e63",
        "hashType": "pearson",
        "mps": "",
        "name": "",
        "noavailability": "discard",
        "nocapacity": "admin",
        "outputs": 6,
        "routes": "5",
        "selection": "next",
        "sourceProperty": "msg.topic",
        "sticky": "",
        "x": 160,
        "y": 140,
        "wires": [
            [],
            [
                "6bb68ec671006e63"
            ],
            [
                "f126a96308fc9975"
            ],
            [
                "e70c7e39f7721fa6"
            ],
            [
                "eb923c8745b2af62"
            ],
            [
                "e4d3f4a11c7b6ad0"
            ]
        ]
    },
    {
        "id": "f126a96308fc9975",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "e70c7e39f7721fa6",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "eb923c8745b2af62",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "e4d3f4a11c7b6ad0",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "d99a1ae777144f29",
        "type": "inject",
        "z": "781375c9aed44e85",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "7fe603a961da8981"
            ]
        ]
    }
]
